.services-summary {
    .service-summary {

        .child {
            border: 1px solid;
            padding: 20px;
            height: 150px;
            animation-name: kd-fadeInUp;
            animation-delay: .2s;
            background: #fff;
            transition: .25s;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #e5e7f2;
            overflow: hidden;
            padding-bottom: 0;
            opacity: 1;

            span {
                display: block;
                transition: all 250ms ease-in-out;
                margin-bottom: 20px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .text {
                transition: transform .25s ease-in-out;
                p {
                    position: relative;
                    
                    font-family: inherit !important;
                    opacity: 0;
                    transition: .25s;
                }
            }
            &:hover{
                box-shadow: 0 5px 40px rgba(0,0,0,.05);
                span{
                    margin: 0;
                    transform: translate3d(0,-67px,0);
                    opacity: 0;
                }
                .text{
                    transform: translate3d(0,-67px,0);
                    p{
                        opacity: 1;
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        .service-summary{
            margin-right: 0!important;
            margin-left: 0!important;
            padding-right: 0!important;
            padding-left: 0!important;
        }
    }

    @media (max-width: 920px) {
        .service-summary{
         .child{
             text-align: center;
             height: auto;
             animation: none;
             .text{
                 p{
                     opacity: 1;
                 }
             }
             &:hover{
                box-shadow: 0 5px 40px rgba(0,0,0,.05);
                span{
                    margin-bottom: 20px;
                    transform: none;
                    opacity: 1;
                }
                .text{
                    transform: none;
                }
            }
         }
        }
    }
    @media (max-width: 768px) {
        .service-summary{
            padding-right: 15px!important;
            padding-left: 15px!important;
            margin-bottom: 30px;
         .child{
             text-align: center;
             height: auto;
             animation: none;
             .text{
                 p{
                     opacity: 1;
                 }
             }
         }
        }
    }
}
p{
    color: #828282;
}