<header class="nav">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="logo">
               <img class="logo1" src="assets/img/logo2.png" alt="Logo de Aprendizaje y Acción">
               <!-- <p class="h1 cris m-0">Aprendizaje y Acción</p> -->
            </div>
            <div class="toggle">
                <button class="toggle-btn" >
                    <span class="s1 bg-yellow"></span>
                    <span class="s2 bg-yellow"></span>
                    <span class="s3 bg-yellow"></span>
                </button>
            </div>
            <nav class="" >
                <li>
                    <a href="" class="link">Services</a>
                </li>
                <li>
                    <a href="" class="link">About us</a>
                </li>
                <li>
                    <a href="" class="link">Contact us</a>
                </li>
            </nav>
        </div>
    </div>
</header>