<section class="py-5 video-section bg-gray">
    <div class="container">
        <h2 class="h2 font-white center mb-0">{{data.info.title}}</h2>
        <hr class="hr mb-5">
        <div class="info">
            <p class="justify mb-5">Aprendizaje y acción ofrece <span class="helping font-white">sesiones de
                    información,
                    asistencia técnica y consultas</span> sobre una variedad de
                temas en el área educativa, psicológica, habilidades blandas y gestión de personal.</p>
            <div class="row">
                <div class="col tab">
                    <h4 class="m-0">Capacitaciones en habilidades blandas </h4>
                    <ul>
                        <li>Gestión del cambio </li>
                        <li>Diversidad e inclusión
                        </li>
                        <li>Solución creativa de problemas
                        </li>
                        <li>Influencia e inspiración</li>
                    </ul>
                </div>
                <div class="col tab">
                    <h4 class="m-0">Capacitaciones de liderazgo</h4>
                    <ul>
                        <li>Motivar y Coaching</li>
                        <li>Liderazgo e influencia</li>
                        <li>Aprendiendo estilos</li>
                        <li>Auto liderazgo</li>
                        <li>Comunicación </li>
                    </ul>
                </div>
                <div class="col tab">
                    <h4 class="m-0">Capacitaciones de comunicación</h4>
                    <ul>
                        <li>Comunicaciones interpersonales</li>
                        <li>Estrategias de comunicación</li>
                        <li>Presentaciones efectivas</li>
                        <li>Empatía en el lugar de trabajo</li>
                        <li>Inteligencia emocional</li>
                        <li>Gestión del tiempo</li>
                    </ul>
                </div>
                <div class="col tab">
                    <h4 class="m-0">Servicios de asistencia técnica y formación </h4>
                    <ul>
                        <li>Formación de facilitadores</li>
                        <li>Asistencia técnica, consultoría y coaching</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>