<section class="py-5 video-section bg-gray">
    <div class="container">
        <h2 class="h2 font-white center mb-0">{{data.info.title}}</h2>
        <hr class="hr mb-5">
        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="info">
                    <p class="justify mb-5">Aprendizaje y acción ofrece <span class="helping font-white">sesiones de información,
                            asistencia técnica y consultas</span> sobre una variedad de
                        temas en el área educativa, psicológica, habilidades blandas y gestión de personal.</p>
                        <p>Capacitaciones en habilidades blandas </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 img">
                <img src="assets/img/{{data.image.name}}" [alt]="data.image.alt">
            </div>
        </div>
    </div>
</section>