.video-section{
    background-image: url('../../../assets/img/banner.jpg');
    .img{
        img{
            max-width: 100%;
        }
    }
    .info{
        background-color: rgba($color: #fff, $alpha: 0.4);
        border-radius: 8px;
        padding: 40px;
        width: 80%;
        margin: auto;
        .tab{
            list-style: none;
        }
    }
}