footer{
    background-color: #002a52;
    padding: 12px 0;
    p{
        font-size: 10px;
        color: white;
    }
    @media(max-width: 768px){
        p{
            text-align: center;
        }
    }
}